@{
    ViewData["Title"] = "Cart | ";
}
@model List<ItemOrderViewModel>;

<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">

        @foreach (var item in Model)
        {
            <p id="orderId" hidden>@item.OrderId</p>

            <div class="row row-center line-product" item-id="@item.ProductId">
                <div class="col-md-3">
                    <img class="img-product-cart" src="~/images/products/large_@(item.ProductCode).jpg" />
                </div>
                <div class="col-md-3">@(item.ProductName)</div>
                <div class="col-md-2 text-center">@item.UnitPrice</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="cart.clickDecrement(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" value="@(item.Quantity)"
                               class="form-control text-center" 
                               onblur="cart.updateQuantity(this)"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="cart.clickIncrement(this)">
                                <span class="glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    R$ <span class="pull-right" subtotal>
                        @(item.Quantity * item.UnitPrice)
                    </span>
                </div>
            </div>

        }



    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>
                    Total: @(Model.Count())
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @(Model.Sum(i => i.Quantity * i.UnitPrice))
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" asp-action="Carousel">
                Add products
            </a>
            <a class="btn btn-success" asp-action="Summary">
                Check out
            </a>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/cart.js">
    </script>
}
